<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi Guia Local</title>
        <link rel="stylesheet"
            href="src/paquetes/bootstrap-5.3.3-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="src/styles.css">
        <link rel="stylesheet" href="src/fontawesome/css/all.min.css">
        <link rel="stylesheet"
            href="src/paquetes/sweetalert2/dist/sweetalert2.min.css">

    </head>
    <body>
        <div id="app" class="container my-5">
            <header :class="{ compact: isCompact }">
                <div class="header-container">
                    <div class="header-logo" @click="elegirCategoria('')">
                        <img src="src/images/Logotipo.jpeg" alt="Logo">
                    </div>
                    <div class="header-title">
                        <h1>Mi Guia Local</h1>
                    </div>
                    <div class="header-user">
                        <span @click="openModal(2)"><b>Publica tu
                                negocio</b></span>
                        <button @click="toggleDropdown">
                            <img src="src/images/user.png" alt="Usuario">
                        </button>
                        <div class="dropdown-container"
                            v-if="isDropdownVisible">
                            <div class="dropdown-item"
                                @click="openModal(1)">Registrarse</div>
                            <div class="dropdown-item" @click="login">Iniciar
                                sesión</div>
                        </div>
                    </div>
                </div>

                <div class="search-container">
                    <div class="form-group row">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                placeholder="Busca tu negocio..."
                                aria-label="buscar">
                            <span class="input-group-text">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>
                <!-- SE VEN TODAS LAS CATEGORIAS-->
                <div class="content-container categorias">
                    <button @click="scrollLeft" class="nav-button left">
                        <i class="fas fa-chevron-left"></i>
                      </button>
                  
                      <div class="categories-carousel" ref="carousel" >
                        <div v-for="(categoria, index) in categorias" :key="index" class="category-item"@click="elegirCategoria(categoria.categoria)">
                          <i :class="categoria.icono"></i>
                          <p>{{ categoria.categoria }}</p>
                        </div>
                      </div>
                  
                      <button @click="scrollRight" class="nav-button right">
                        <i class="fas fa-chevron-right"></i>
                      </button>
                </div>
            </header>
            <div class="divider"></div>
            <!-- SE VEN TODOS LOS NEGOCIOS-->
            <div class="row">
                <div class="col-md-4" v-for="negocio in negociosFiltrados" :key="negocio.nombreNegocio">
                    <div class="card mb-4 text-center">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ negocio.nombreNegocio }}
                                <span class="badge bg-primary ms-2">{{ negocio.categoria }}</span>
                            </h5>
                            <img :src="negocio.rutaImagenNegocio" class="card-img-top" :alt="negocio.nombreNegocio">
                            <h6 class="card-text">{{ negocio.domicilio }}</h6>
                            <h6 class="card-text">{{ negocio.telefono }}</h6>
                            <a :href="negocio.ubicacionMaps" target="_blank" class="btn btn-primary">
                                <i class="fas fa-map-marker-alt"></i> Ver en Maps
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="divider"></div>

            <footer class="bg-light text-dark text-center text-lg-start">
                <div class="container p-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-4">
                            <div class="accordion" id="accordionExample">
                                <!-- Sección Misión -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header"
                                        id="headingMision">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseVision"
                                            aria-expanded="false"
                                            aria-controls="collapseMision">
                                            Misión
                                        </button>
                                    </h2>
                                    <div id="collapseMision"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="headingMision"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Nuestra misión es brindar productos
                                            y servicios de alta calidad para
                                            satisfacer las necesidades de
                                            nuestros clientes, fomentando un
                                            ambiente de respeto y
                                            profesionalismo.
                                        </div>
                                    </div>
                                </div>

                                <!-- Sección Visión -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header"
                                        id="headingVision">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseVision"
                                            aria-expanded="false"
                                            aria-controls="collapseVision">
                                            Visión
                                        </button>
                                    </h2>
                                    <div id="collapseVision"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="headingVision"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Nuestra visión es ser líderes en el
                                            mercado, reconocidos por nuestra
                                            innovación, calidad y compromiso con
                                            la satisfacción del cliente.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 mb-4"></div>

                        <div class="col-lg-4 col-md-6 mb-4">
                            <h5 class="text-uppercase">Contacto</h5>
                            <p>
                                Email: info@tuguialocal.com<br>
                                Teléfono: +123 456 7890
                            </p>
                            <div>
                                <a href="#!" class="text-black me-4"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a href="#!" class="text-black me-4"><i
                                        class="fab fa-twitter"></i></a>
                                <a href="#!" class="text-black me-4"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Inicio Modal Registro Usuario-->
            <div class="modal fade" id="registroUserModal" tabindex="-1"
                aria-labelledby="registroUserModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="registroUserModalLabel">Registrarse</h5>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="nombreCompletoUser"
                                        class="form-label">Nombre
                                        Completo</label>
                                    <input type="text" class="form-control"
                                        v-model="user.nombreCompleto"
                                        id="nombreCompletoUser"
                                        placeholder="Ingresa tu nombre completo"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="usuario"
                                        class="form-label">Usuario</label>
                                    <input type="text" class="form-control"
                                        v-model="user.usuario" id="usuario"
                                        placeholder="Ingresa tu usuario"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="contrasenaUser"
                                        class="form-label">Contraseña</label>
                                    <input type="password" class="form-control"
                                        v-model="user.contrasena"
                                        id="contrasenaUser"
                                        placeholder="Ingresa tu contraseña"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="correoUser"
                                        class="form-label">Correo
                                        Electrónico</label>
                                    <input type="email" class="form-control"
                                        v-model="user.correo" id="correoUser"
                                        placeholder="Ingresa tu correo electrónico"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="telefonoUser"
                                        class="form-label">Teléfono</label>
                                    <input type="tel" class="form-control"
                                        v-model="user.telefono"
                                        id="telefonoUser"
                                        placeholder="Ingresa tu número de teléfono"
                                        required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary"
                                @click="register">Guardar cambios</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Modal Registro Usuario-->
            <!-- Inicio Modal Registro Negocio-->
            <div class="modal fade" id="registroNegocioModal" tabindex="-1"
                aria-labelledby="registroNegocioModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="registroNegocioModalLabel">Registrar tu
                                Negocio</h5>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="nombreCompletoNegocio"
                                        class="form-label">Nombre
                                        Completo</label>
                                    <input type="text" class="form-control"
                                        v-model="business.nombreCompleto"
                                        id="nombreCompletoNegocio"
                                        placeholder="Ingresa tu nombre completo"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="nombreNegocio"
                                        class="form-label">Nombre del
                                        Negocio</label>
                                    <input type="text" class="form-control"
                                        v-model="business.nombreNegocio"
                                        id="nombreNegocio"
                                        placeholder="Ingresa el nombre de tu negocio"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="categoria"
                                        class="form-label">Categoría</label>
                                    <select class="form-select"
                                        v-model="business.categoria"
                                        id="categoria" required>
                                        <option value disabled
                                            selected>Selecciona una
                                            categoría</option>
                                        <option value="comida">Comida</option>
                                        <option value="ropa">Ropa</option>
                                        <option
                                            value="tecnología">Tecnología</option>
                                        <option
                                            value="servicios">Servicios</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="usuarioNegocio"
                                        class="form-label">Usuario</label>
                                    <input type="text" class="form-control"
                                        v-model="business.usuario"
                                        id="usuarioNegocio"
                                        placeholder="Ingresa tu usuario"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="contrasenaNegocio"
                                        class="form-label">Contraseña</label>
                                    <input type="password" class="form-control"
                                        v-model="business.contrasena"
                                        id="contrasenaNegocio"
                                        placeholder="Ingresa tu contraseña"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="correoNegocio"
                                        class="form-label">Correo
                                        Electrónico</label>
                                    <input type="email" class="form-control"
                                        v-model="business.correo"
                                        id="correoNegocio"
                                        placeholder="Ingresa tu correo electrónico"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="telefonoNegocio"
                                        class="form-label">Teléfono</label>
                                    <input type="tel" class="form-control"
                                        v-model="business.telefono"
                                        id="telefonoNegocio"
                                        placeholder="Ingresa tu número de teléfono"
                                        required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary"
                                @click="addNegocio">Guardar cambios</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Modal Registro Negocio-->

        </div> <!-- Cierra el div con id="app" -->

        <script src="src/paquetes/vue.js"></script>
        <script
            src="src/paquetes/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
        <script src="src/paquetes/dist/sweetalert2.all.min.js"></script>
        <script src="miGuiaLocalController.js"></script>
    </body>
</html>
