<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
            <add name="PHP_v8.1_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php8.1\php-cgi.exe" resourceType="File" />
      <!-- Agrega el controlador para PHP -->
      
    </handlers>
    <defaultDocument>
      <!-- Define la página por defecto -->
      <files>
        <clear />
        <add value="index.php" />
        <add value="default.html" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
