body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Asegura que el body tenga al menos el alto de la ventana */
  display: flex;
  flex-direction: column; /* Permite alinear contenido verticalmente */
  background-color: #f2f2f2;
}

header {
  position: sticky; /* Cambiado a sticky */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa; /* Color de fondo */
  padding: 10px 0; /* Espaciado interno */
  z-index: 1000; /* Asegura que el encabezado esté por encima del contenido */
  transition: padding 0.3s ease, background-color 0.3s ease; /* Suaviza la transición */
}

main {
  margin-top: 60px; /* Ajusta el margen superior para evitar que el contenido se oculte detrás del encabezado */
  flex: 1; /* Permite que main ocupe el espacio restante */
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  padding: 20px; /* Añade algo de padding alrededor del contenido */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Cambiado a centrar todos los elementos */
  padding: 10px 10px 30px; /* 10px arriba, 10px derecha e izquierda, 30px abajo */
  position: relative; /* Necesario para que los hijos puedan posicionarse */
}

.header-title {
  flex: 1; /* Permite que el título ocupe el espacio disponible */
  text-align: center; /* Centra el texto dentro del contenedor */
  margin: 0; /* Elimina el margen para un mejor centrado */
}

.header-title h1 {
  transition: font-size 0.3s ease; /* Suaviza el cambio de tamaño de fuente */
}

.header-logo {
  position: absolute; /* Mantiene el logo en la parte izquierda */
  left: 20px; 
}

.header-logo img {
  width: 60px; /* Tamaño original del logo */
  height: auto; /* Altura automática */
  transition: width 0.3s ease; /* Suaviza el cambio de tamaño del logo */
}

.header-user {
  position: absolute; /* Mantiene el usuario en la parte derecha */
  right: 20px; /* Ajusta el espacio derecho */
  display: flex; /* Alinea el texto y el botón */
  align-items: center; /* Centra verticalmente */
}

/* Estilo para el botón de user */
.header-user span {
  font-size: 14px; /* tamaño de la letra */
  color: #333; /* Color del texto */
  margin-right: 10px;
  cursor: pointer; /* Cambia el cursor a mano */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Suaviza la transición */
}

.header-user span:hover {
  background-color: rgba(200, 200, 200, 0.5); /* Fondo gris claro al pasar el mouse */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra gris */
  border-radius: 10px; /* Bordes redondeados */
  padding: 5px; 
}

.header-user button {
  background: #f8f9fa; /* Fondo del botón */
  border: none; /* Sin borde */
  border-radius: 50%; /* Bordes completamente redondeados */
  cursor: pointer; /* Cambia el cursor a mano */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
  padding: 10px; /* Espaciado interno */
}

.header-user img {
  width: 40px; /* Ancho de la imagen */
  height: auto; /* Altura automática */
}

/* Estilos para el cuadro desplegable */
.dropdown-container {
  position: absolute; /* Posicionamiento absoluto */
  top: 60px; 
  right: 20px; /* Ajuste a la derecha */
  background-color: white; /* Fondo blanco */
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
}

.dropdown-container[style*="display: none"] {
  display: none; /* Asegúrate de que esté oculto si no es visible */
}

.dropdown-item {
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor a mano */
}

.dropdown-item:hover {
  background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}

/* Contenedor del input de buscar */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; /* Espacio desde la parte inferior */
}

.form-group {
  width: 100%; 
  max-width: 600px; /* Ancho máximo */
}

.input-group {
  position: relative; /* Para superponer la imagen */
}

.form-control {
  padding-left: 40px; /* Espacio para el icono */
  border: 1px solid #ccc; /* Borde del input */
  border-radius: 20px; /* Bordes redondeados */
  background-color: transparent; /* Fondo transparente */
}

/* Línea delgada */
.divider {
  height: 1px;
  background-color: #ccc; /* Color de la línea */
  margin: 10px 0; /* Espacio superior e inferior */
}

/* Estilos del apartado categorías */
.content-container.categorias {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.categories-carousel {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 0.5rem; /* Reduce el espacio entre los elementos */
  width: 100%;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px; /* Reduce el ancho mínimo de cada item */
  text-align: center;
  padding: 0.3rem; /* Reduce el padding interno */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.category-item:hover {
  transform: translateY(-5px);
}

.category-item i {
  font-size: 1.5rem; /* Reduce el tamaño del icono */
  color: #555;
  margin-bottom: 0.3rem; /* Reduce el margen inferior */
}

.category-item p {
  font-size: 0.8rem; /* Reduce el tamaño del texto */
  color: #333;
  margin: 0;
}

.nav-button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #555;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-button.left {
  left: 10px; /* Ajusta la posición a la izquierda */
  z-index: 10;
}

.nav-button.right {
  right: 10px; /* Ajusta la posición a la derecha */
}

.nav-button:hover {
  color: #000;
  background-color: #f0f0f0;
}

/* Estilos de los cards de los negocios */
.card {
  text-align: center;
}

.card-text {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

.card-img-top {
  height: auto; 
  object-fit: cover; 
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*VALORACIONES*/
.rating {
  font-size: 1.5rem; /* Tamaño de las estrellas */
  color: #ccc; /* Color de las estrellas no seleccionadas */
}

.star {
  cursor: pointer;
  color: gray; /* Color de las estrellas seleccionadas */
}

.star.filled {
  color: gold; /* Color de las estrellas seleccionadas */
}